# Virtual environment
venv/

# Original source files (not part of the final project)
digit_recognizer.py
Digit_recognizer.ipynb
archive.zip

# Dataset
data/

# Python
__pycache__/
*.pyc
*.pyo





# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test images
test_digit*.png
